.menuPanel {
    height: 14vh;
}

.containerFullPost {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.content {
    width: 80%;
}

.headerPost {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.titlePost {
    font-size: 30px;
}

.subtitlePost {
    font-size: 20px;
}

.postAndComments {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100vh;
    align-items: center;
}

.postContent {
    width: 80%;
    height: 40vh;
    font-size: 16px;
}

.commentsArea {
    border: 1px solid #0a70b8;
    padding: 1vh 1vw;
}

.comments {
    height: 60vh;
    width: 20vw;
    margin-top: 1vh;
}

@media (min-width: 728px){
    .titlePost {
        font-size: 46px;
    }

    .subtitlePost{
        font-size: 30px;
    }

    .postContent {
        font-size: 22px;
    }
}
/*
max-w-7xl h-3/6 text-xl
w-screen h-screen flex items-center justify-center flex-col bg-background
*/