@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 39, 39, 39;
  --background-start-rgb: 39, 39, 39;
  --background-end-rgb: 39, 39, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #000;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #6EEB83;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6EEB83;
  }
}